p {
    margin: 0;
}

#container {
    /*border: 1px solid black;*/
    padding: 5px;
}

.person {
    border-top: 1px dotted gray;
    display: table;
    height: 80px;
    width: 100%;
}

.person .photo {
    margin: 10px;
    float: left;
    height: 60px;
}

.person .name {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 100%;;
    text-decoration: underline;
}